<div class="list-group">
  <div class="list-group-item row">
    <span class="col-md-1"></span>
    <span class="col-md-6 text-center"><strong>Title / Thread Starter</strong></span>
    <span class="col-md-2 text-center"><strong>Replies / Views</strong></span>
    <span class="col-md-2 text-center"><strong>Last Post By</strong></span>
  </div>

  <% threads.each do |thread| %>
      <div class="list-group-item row">
        <span class="col-md-1 fa fa-commenting fa-fw fa-3x" aria-hidden="true"></span>
        <span class="col-md-6"><%= link_to "#{thread.title}", discussion_thread_path(thread) %><br>
          <small>Started By: <%= thread.author.name %></small>
        </span>
        <span class="col-md-2 text-right">Replies: <%= thread.replies.count %>
          <br>Views: <%= thread.views.count %></span>
        <span class="col-md-2"></span>
      </div>
  <% end %>
</div>