<h1>Boards</h1>

<div class="table-responsive">
  <table class="table boards-table">
    <thead>
    <tr>
      <th>Board</th>
      <th>Threads/Posts</th>
      <th>Last Post</th>
    </tr>
    </thead>

    <tbody>
    <% @boards.each do |board| %>
        <tr>
          <td style="width: 60%">
            <%= link_to "#{board.title}", board %><br>
            <%= board.description %>
          </td>
          <td></td>
          <td></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<% if current_user %>
    <%= link_to 'New Board', new_board_path, class: "btn btn-default" %>
<% end %>