<p>
<h2><%= @board.title %><br>
  <small><%= @board.description %></small>
</h2>
</p>
<br>
<% if !@board.parent %>
    <h3>Sub-Boards</h3>
    <%= render 'board_list', boards: @board.sub_boards %>
    <br>
<% end %>
<%= link_to 'Back', boards_path %>
