// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boards-table {
  table {
    width: 100%;
  }

  th {
    height: 50px;
    background-color: lightsteelblue;
  }
}


